* {
  margin: 10;
  padding: 10;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 3px;
  border: 1px solid black;
}

.card {
  position: relative;
  height: 50px;
  width: 100px;
  perspective: 1000px;
}

.front {
  position: absolute;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  background: #FF0000;  
  transition: 1s;
}

.card:hover .front {
  transform: rotateX(180deg);
}

.back{
  position: absolute;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffff;
  background: #0000ff;  
  transition: 1s;
  backface-visibility: hidden;
}

.back {
  transform: rotateX(180deg);
}

.card:hover .back {
  transform: rotateX(360deg);
}